.navbar {
    display: flex;
    align-items: center;
    background-color: #121826;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;
    font-size: 1.5rem;
    z-index: 5000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative; /* add position property */
  }
  
.titleone{
    padding-left: 3rem;
  
}
.titletwo{
    padding-right: 3rem;
}